.vscode/**
src/**
sample/**
node_modules/**
esbuild.js
tsconfig.json
out/**
**/*.map
.gitignore
.git/**
.omc/**
.mocharc.json
**/*.vsix
media/icon-marketplace.svg
RELEASE_NOTES_*.md
release.sh
build.sh
install.sh
